<header class="sticky -top-20 z-50 border rounded-xl w-4/6 mx-auto mt-1 p-2 bg-white dark:bg-zinc-800 dark:border-zinc-800 shadow-lg">
    <div class='flex justify-between items-center'>
        <span class="flex text-4xl ml-3 m-2 w-40 items-center dark:text-white ">
            <div x-show="!darkMode">
                <%= image_tag("logoPng.png", class: "h-16 w-14 drop-shadow-2xl") %>
            </div>
            <div x-show="darkMode">
                <%= image_tag("logoWhite.png", class: "h-16 w-14 drop-shadow-2xl")%>
            </div>
            <p class="pl-4 font-bold">
                Page
            </p>
        </span>


        <% if user_signed_in?%>
            <div>
                <div
                    x-data="{
                        open: false,
                        toggle() {
                            if (this.open) {
                                return this.close()
                            }

                            this.$refs.button.focus()

                            this.open = true
                        },
                        close(focusAfter) {
                            if (! this.open) return

                            this.open = false

                            focusAfter && focusAfter.focus()
                        }
                    }"
                    x-on:keydown.escape.prevent.stop="close($refs.button)"
                    x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                    x-id="['dropdown-button']"
                    class="relative z-50"
                >
                    <!-- Button -->
                    <button
                        x-ref="button"
                        x-on:click="toggle()"
                        :aria-expanded="open"
                        :aria-controls="$id('dropdown-button')"
                        type="button"
                        class="flex items-center z-0 gap-2 border rounded-xl px-3 py-2.5 mr-3 m-2 dark:text-white bg-white dark:bg-zinc-700 dark:border-zinc-700 hover:bg-cyan-400 hover:border-cyan-400 hover:shadow-cyan-400 dark:hover:border-pink-500 dark:hover:bg-pink-500 dark:hover:shadow-pink-500 shadow"
                    >
                        <%= current_user.gravatar(40, "rounded-md ")%>
                        <%= current_user.login %>

                        <!-- Heroicon: chevron-down -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="z-0 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </button>

                    <!-- Panel -->
                    <ul
                        x-ref="panel"
                        x-show="open"
                        x-transition.origin.top.left
                        x-on:click.outside="close($refs.button)"
                        :id="$id('dropdown-button')"
                        style=""
                        class="absolute z-50 overflow-visible left-0 mt-2 w-40 rounded-md bg-white dark:bg-zinc-700 dark:border-zinc-700 shadow-md"
                    >
                        <div class="absolute pointer-events-none" x-show="!darkMode">
                            <%= image_tag("account.svg", class: "ml-2 mt-2 w-6")%>
                        </div>
                        <div class="absolute pointer-events-none" x-show="darkMode">
                            <%= image_tag("dark_account.svg", class: "ml-2 mt-2 w-6")%>
                        </div>
                        <%= link_to 'Profile', users_path, class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md pl-9 py-2.5 text-left text-md dark:text-white hover:bg-cyan-400 dark:hover:border-pink-500 dark:hover:bg-pink-500" %>
                        
                        <hr class="dark:border-zinc-600">

                        <div class="absolute pointer-events-none" x-show="!darkMode">
                            <%= image_tag("logout.svg", class: "ml-2.5 mt-2.5 w-5")%>
                        </div>
                        <div class="absolute pointer-events-none" x-show="darkMode">
                            <%= image_tag("dark_logout.svg", class: "ml-2.5 mt-2.5 w-5")%>
                        </div>
                        <%= link_to 'Log Out', session_path, data: { method: :delete, confirm: 'Are you sure?' }, class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md pl-9 py-2.5 text-red-500 text-left text-sm hover:bg-cyan-400 dark:hover:border-pink-500 dark:hover:bg-pink-500" %>
                            
                    </ul>
                </div>
            </div>
        <% else %>
            <div class="text-xl my-auto mr-4 space-x-4 dark:text-white">
            <%= link_to 'Sign Up', new_user_path, class: "border rounded-xl w-11/12 p-3 mx-auto text-xl font-bold dark:text-white dark:bg-zinc-700 dark:border-zinc-700  hover:bg-cyan-400 hover:border-cyan-400 hover:shadow-cyan-400 dark:hover:border-pink-500 dark:hover:bg-pink-500 dark:hover:shadow-pink-500 shadow" %>
            <%= link_to 'Log In', new_session_path, class: "border rounded-xl w-11/12 p-3 mx-auto text-xl font-bold dark:bg-zinc-700 dark:border-zinc-700  hover:bg-cyan-400 hover:border-cyan-400 hover:shadow-cyan-400 dark:hover:border-pink-500 dark:hover:bg-pink-500 dark:hover:shadow-pink-500 shadow" %>
            </div>
        <% end %>
    </div>
</header>