<% provide :page_title, "Profile" %>
<% currently_at 'Profile'%>

<h1 class="border rounded-xl p-2 mb-2 w-2/12 mx-auto object-center text-center font-bold text-xl dark:bg-zinc-700 dark:border-zinc-700 shadow">
  Profile
</h1>

<div class="flex">

  <div class="flex flex-col justify-items-center w-5/12">
    <div class="mx-auto">
      <%= current_user.gravatar(244, "rounded-t-xl") %>
    </div>
    <h1 class="border rounded-b-xl p-2 mb-2 w-9/12 mx-auto object-center text-center font-bold text-xl dark:bg-zinc-700 dark:border-zinc-700 shadow">
      Установка аватара проводится через сервис Gravatar <a href="https://gravatar.com" class="underline">https://gravatar.com</a>
    </h1>
  </div>

  <div class="mx-auto">

    <h1 class="border rounded-xl p-2 mb-2 w-3/12 mx-auto object-center text-center font-bold text-xl dark:bg-zinc-700 dark:border-zinc-700 shadow">
      Login
    </h1>

    <div class="border rounded-xl p-2 mb-3 mx-auto w-12/12 max-w-sm overflow-y-auto break-words object-center text-center font-bold text-xl dark:bg-zinc-700 dark:border-zinc-700 shadow">
     <%= current_user.login %> 
    </div>

    <h1 class="border rounded-xl p-2 mb-2 w-3/12 mx-auto object-center text-center font-bold text-xl dark:bg-zinc-700 dark:border-zinc-700 shadow">
      Email
    </h1>

    <div class="border rounded-xl p-2 mb-3 mx-auto w-12/12 max-w-sm overflow-y-auto break-words object-center text-center font-bold text-xl dark:bg-zinc-700 dark:border-zinc-700 shadow">
      <%= current_user.email %>
    </div>

    <h1 class="border rounded-xl p-2 mb-2 w-4/12 mx-auto object-center text-center font-bold text-xl dark:bg-zinc-700 dark:border-zinc-700 shadow">
      Description
    </h1>

    <div class="border rounded-xl p-3 mb-4 mx-auto w-12/12 max-w-sm h-fit overflow-y-auto break-words object-center text-center font-bold text-xl dark:bg-zinc-700 dark:border-zinc-700 shadow">
      <%= sanitize current_user.description %>
    </div>

    <%= link_to 'Edit', edit_user_path(current_user),
    class: "border rounded-xl p-2 mt-5 mx-40 w-2/12 text-center text-xl font-bold dark:bg-zinc-700 dark:border-zinc-700 hover:bg-cyan-400 hover:border-cyan-400 hover:shadow-cyan-400 dark:hover:border-pink-500 dark:hover:bg-pink-500 dark:hover:shadow-pink-500 shadow" %>

  </div>

</div>

<div class="mt-8">

  <h1 class="border rounded-xl p-2 mb-2 w-2/12 mx-auto object-center text-center font-bold text-xl dark:bg-zinc-700 dark:border-zinc-700 shadow">
    Your posts
  </h1>

  <% @posts.each do |post| %>
    <article class="border rounded-xl p-2 pb-3 m-4 dark:bg-zinc-700 dark:border-zinc-700 shadow">

      <div class="flex justify-between">

        <section>
          <div class="flex justify-stretch border rounded-md dark:bg-zinc-600 dark:border-zinc-600 shadow">
            <div class="flex-0">
              <%= post.user.gravatar(40, "rounded-md") %>
            </div>
            <div class="grow p-2 text-center">
             <%= post.user.login %> 
            </div>
          </div>

          <time datetime="<%= post.formatted_created_at%>" class="opacity-50">
              <%= post.formatted_created_at%>
          </time>
        </section>

        <div
          x-data="{
              open: false,
              toggle() {
                  if (this.open) {
                      return this.close()
                  }

                  this.$refs.button.focus()

                  this.open = true
              },
              close(focusAfter) {
                  if (! this.open) return

                  this.open = false

                  focusAfter && focusAfter.focus()
              }
          }"
          x-on:keydown.escape.prevent.stop="close($refs.button)"
          x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
          x-id="['dropdown-button']"
          class="relative z-50 justify-items-end"
      >
          <!-- Button -->
          <button
              x-ref="button"
              x-on:click="toggle()"
              :aria-expanded="open"
              :aria-controls="$id('dropdown-button')"
              type="button"
              class="flex items-center gap-2 pr-1 dark:text-white bg-white dark:bg-zinc-700 dark:border-zinc-700"
          >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" viewBox="0 0 21 21" fill="currentColor">
                <path fill-rule="evenodd" d="M12 5a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" clip-rule="evenodd" />
              </svg>
          </button>

          <!-- Panel -->
          <ul
              x-ref="panel"
              x-show="open"
              x-transition.origin.top.left
              x-on:click.outside="close($refs.button)"
              :id="$id('dropdown-button')"
              style=""
              class="absolute z-50 left-0 mt-2 w-28 rounded-md bg-white dark:bg-zinc-700 dark:border-zinc-700 shadow-md"
          >
            <li>
              <%= link_to 'Destroy', post_path(post), data: { method: :delete, confirm: 'Are you sure?' }, class: "flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-red-500 text-left text-sm hover:bg-cyan-400 dark:hover:border-pink-500 dark:hover:bg-pink-500"%>
            </li>
          </ul>
        </div>
      </div>

      <h2 class="break-words hover:underline m-4 -indent-2">
        <%= link_to sanitize(post.title), post_path(post), class: "text-3xl font-bold m-2 py-2" %>
      </h2>
      
    </article>
  <% end %>  
</div>
