<%= form_with model: @post do |f|%>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true, minlength: 2, class: "border rounded p-2 border-cyan-500"%>
  </div>

  <div>
    <%= f.label :body %><br>
    <%= f.text_area :body, required: true, minlength: 2, class: "border rounded p-2 border-cyan-500"%>
  </div>

 <%= f.submit "Submit", class: 'border rounded p-2 mt-2 border-red-500'%>

<% end %>