<!DOCTYPE html>
<html
  x-data="{ darkMode: localStorage.getItem('dark') === 'true'} "
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="{ 'dark': darkMode }"
>
  <head>
    <%= favicon_link_tag asset_path('favicon.jpeg') %>
    
    <title>
      <%= full_title(yield(:page_title))%>
    </title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
  </head>
  
    <body class="relative bg-slate-50 dark:bg-zinc-900">
      
      <div>
        <button @click="darkMode = !darkMode" 
          class="fixed border rounded-xl m-5 h-14 w-14 hover:bg-cyan-400 hover:border-cyan-400 hover:shadow-cyan-400 dark:hover:border-pink-500 dark:hover:bg-pink-500 dark:hover:shadow-pink-500 dark:bg-zinc-800 dark:border-zinc-800 dark:text-white shadow"
        >
          <div x-show="!darkMode">
            <%= image_tag("moon.svg", class: "m-2 h-10 w-10") %>
          </div>
          <div x-show="darkMode">
            <%= image_tag("sun.svg", class: "m-1.5 h-10 w-10") %>
          </div>
      </button>
     </div>

      <%= render 'main/header' %>
      
      <div class="flex z-0 p-1 mt-6">
        <%= yield :nbar %> 
      
        <main class="container border rounded-xl mx-auto order-2 w-6/12 p-2 h-max bg-white dark:bg-zinc-800 dark:border-zinc-800 dark:text-white shadow-xl">
            <%= yield %>
        </main>

        <%= render 'main/aside' %>
      </div>
    </body>
</html>
