<!DOCTYPE html>
<html
  x-data="{ darkMode: localStorage.getItem('dark') === 'true'} "
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="{ 'dark': darkMode }"
>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body class="bg-slate-50 dark:bg-zinc-900">
    
    <%= render 'main/header' %>
    
    
    <div class="flex mt-8">
      <%= render 'main/ntab' %>
    
      <main class="container border rounded-xl mx-auto order-2 w-7/12 p-2 h-screen bg-white dark:bg-zinc-800 dark:border-zinc-800 dark:text-white shadow-xl">
          <%= yield %>
      </main>

      <aside class="order-3 container border rounded-xl mr-5 p-3 w-2/12 h-screen object-right bg-white dark:bg-zinc-800 dark:border-zinc-800 shadow-xl">

      </aside>
    </div>

    <%# <script src="//unpkg.com/alpinejs" defer></script> %>
  </body>
</html>
